<h1><%= @coder.handle %></h1>
<h3><%= @coder.email %></h3>
<h3><%= @coder.phone %></h3>
<h4><%= link_to "Edit Profile", edit_bootcoder_path %><br>
<%= link_to "Pairing sessions", bootcoder_pairings_path(@coder) %></h4>
